In [4]:
import numpy as np
import pandas as pd

In [5]:
s1415 = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction-using-ml-techniques\data\Bundesliga\D1-1415.csv')

understats = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction-using-ml-techniques\data\understat_per_game.csv')

In [4]:
s1415 = s1415[['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG','HTHG','HTAG', 'FTR',
              'HS', 'AS', 'HST','AST','HC','AC', 'HF', 'AF', 'B365H', 'B365A', 'B365D',
               'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA']].reset_index(drop=True)

In [5]:
s1415.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,FTR,HS,AS,...,B365D,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA
0,22/08/14,Bayern Munich,Wolfsburg,2,1,1,0,H,17,9,...,6.00,1.28,6.47,12.00,1.20,7.0,12.0,1.29,6.0,12.00
1,23/08/14,Dortmund,Leverkusen,0,2,0,1,A,11,11,...,4.33,1.63,4.39,5.56,1.62,4.2,5.0,1.65,4.0,6.00
2,23/08/14,Ein Frankfurt,Freiburg,1,0,1,0,H,10,13,...,3.40,2.04,3.63,3.93,2.10,3.3,3.5,2.05,3.5,4.00
3,23/08/14,FC Koln,Hamburg,0,0,0,0,D,10,19,...,3.50,2.04,3.67,3.89,2.05,3.6,3.4,2.05,3.6,3.80
4,23/08/14,Hannover,Schalke 04,2,1,0,0,H,8,12,...,3.50,3.15,3.58,2.37,3.20,3.2,2.3,3.20,3.5,2.38

In [6]:
s1415['Date'] = pd.to_datetime(s1415['Date'],format="%d/%m/%y")

In [7]:
understats['Date'] = pd.to_datetime(understats['date']).dt.strftime("%Y-%m-%d")
understats['Date'] = pd.to_datetime(understats['Date'])

In [8]:
understats =understats.replace({'team':{'Hamburger SV':'Hamburg','Bayer Leverkusen':'Leverkusen','Eintracht Frankfurt':'Ein Frankfurt',
                           "Borussia M.Gladbach":"M'gladbach",'Hertha Berlin':'Hertha','Mainz 05':'Mainz',
                           'Hannover 96':'Hannover','Borussia Dortmund':'Dortmund','VfB Stuttgart':'Stuttgart',
                           'FC Cologne':'FC Koln', 'RasenBallsport Leipzig':'RB Leipzig','Nuernberg':'Nurnberg',
                           'Fortuna Duesseldorf':'Fortuna Dusseldorf'}})

In [9]:
df = pd.merge(s1415,understats, how='inner',left_on=['Date','HomeTeam'],right_on=['Date','team'])

In [10]:
df.shape

(306, 57)

In [11]:
df.isnull().sum()

Date            0
HomeTeam        0
AwayTeam        0
FTHG            0
FTAG            0
HTHG            0
HTAG            0
FTR             0
HS              0
AS              0
HST             0
AST             0
HC              0
AC              0
HF              0
AF              0
B365H           0
B365A           0
B365D           0
PSH             0
PSD             0
PSA             0
WHH             0
WHD             0
WHA             0
VCH             0
VCD             0
VCA             0
league          0
year            0
h_a             0
xG              0
xGA             0
npxG            0
npxGA           0
deep            0
deep_allowed    0
scored          0
missed          0
xpts            0
result          0
date            0
wins            0
draws           0
loses           0
pts             0
npxGD           0
ppda_coef       0
ppda_att        0
ppda_def        0
oppda_coef      0
oppda_att       0
oppda_def       0
team            0
xG_diff         0
xGA_diff        0
xpts_diff       0
dtype: int64

In [12]:
df.rename(columns = {'xG':"HxG", 'xGA':'AxG','deep':'Hdeep','deep_allowed':'Adeep',
                     'ppda_coef':'Hppda_coef','oppda_coef':'Appda_coef'},inplace=True)

df = df.drop(['npxG','npxGA','scored', 'missed', 'xpts', 'result', 'wins',
              'draws', 'loses', 'pts', 'npxGD', 'ppda_att', 'ppda_def',
              'oppda_att', 'oppda_def', 'team', 'xG_diff', 'xGA_diff',
              'xpts_diff', 'date', 'year','h_a'],axis=1)

In [13]:
# Calculating the average of betting sites odd for each result
avgH = round((df['B365H'] + df['PSH'] + df['WHH'] + df['VCH'])/4,2)
avgD = round((df['B365D'] + df['PSD'] + df['WHD'] + df['VCD'])/4,2)
avgA = round((df['B365A'] + df['PSA'] + df['WHA'] + df['VCA'])/4,2)

df['AVGH'] = avgH
df['AVGD'] = avgD
df['AVGA'] = avgA

#drop the existing columns with betting odds
df = df.drop(['PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 
              'VCD', 'VCA', 'B365H', 'B365D', 'B365A'],axis=1)

In [14]:
df['season'] = '2014/2015'

In [15]:
df.head(9)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,FTR,HS,AS,...,HxG,AxG,Hdeep,Adeep,Hppda_coef,Appda_coef,AVGH,AVGD,AVGA,season
0,2014-08-22,Bayern Munich,Wolfsburg,2,1,1,0,H,17,9,...,2.570120,1.198420,5,4,9.625000,21.850000,1.26,6.37,11.50,2014/2015
1,2014-08-23,Dortmund,Leverkusen,0,2,0,1,A,11,11,...,0.482324,1.149150,2,5,3.333333,5.800000,1.62,4.23,5.39,2014/2015
2,2014-08-23,Ein Frankfurt,Freiburg,1,0,1,0,H,10,13,...,1.753310,1.380840,3,13,10.517241,3.465116,2.06,3.46,3.76,2014/2015
3,2014-08-23,FC Koln,Hamburg,0,0,0,0,D,10,19,...,0.522276,0.913337,4,2,13.080000,7.068966,2.04,3.59,3.67,2014/2015
4,2014-08-23,Hannover,Schalke 04,2,1,0,0,H,8,12,...,1.179790,0.956665,4,3,9.642857,6.055556,3.11,3.44,2.34,2014/2015
5,2014-08-23,Hertha,Werder Bremen,2,2,1,0,D,19,9,...,1.755850,1.194530,3,5,5.685714,9.869565,1.97,3.54,3.95,2014/2015
6,2014-08-23,Hoffenheim,Augsburg,2,0,2,0,H,10,12,...,1.528730,0.280777,6,2,6.588235,5.739130,1.96,3.67,3.84,2014/2015
7,2014-08-24,M'gladbach,Stuttgart,1,1,0,0,D,19,7,...,2.409390,0.433199,7,3,14.105263,14.500000,1.95,3.58,3.99,2014/2015
8,2014-08-24,Paderborn,Mainz,2,2,1,1,D,10,14,...,0.352540,1.841230,5,7,7.275000,8.150000,3.09,3.36,2.38,2014/2015

In [16]:
df['ranking_HT_ls'] = 0
df['ranking_AT_ls'] = 0

In [17]:
#-1 cause it was the first team of bundesliga 2
#-2 cause it wast he second team of bundesliga 3

df.loc[df['HomeTeam']=='Bayern Munich','ranking_HT_ls'] = 1
df.loc[df['HomeTeam']=='Dortmund','ranking_HT_ls'] = 2
df.loc[df['HomeTeam']=="Schalke 04",'ranking_HT_ls'] = 3
df.loc[df['HomeTeam']=='Leverkusen','ranking_HT_ls'] = 4
df.loc[df['HomeTeam']=='Wolfsburg','ranking_HT_ls'] = 5
df.loc[df['HomeTeam']=="M'gladbach",'ranking_HT_ls'] = 6
df.loc[df['HomeTeam']=='Mainz','ranking_HT_ls'] = 7
df.loc[df['HomeTeam']=='Augsburg','ranking_HT_ls'] = 8
df.loc[df['HomeTeam']=='Hoffenheim','ranking_HT_ls'] = 9
df.loc[df['HomeTeam']=='Hannover','ranking_HT_ls'] = 10
df.loc[df['HomeTeam']=='Hertha','ranking_HT_ls'] = 11
df.loc[df['HomeTeam']=='Werder Bremen','ranking_HT_ls'] = 12
df.loc[df['HomeTeam']=='Ein Frankfurt','ranking_HT_ls'] = 13
df.loc[df['HomeTeam']=='Freiburg','ranking_HT_ls'] = 14
df.loc[df['HomeTeam']=='Stuttgart','ranking_HT_ls'] = 15
df.loc[df['HomeTeam']=='Hamburg','ranking_HT_ls'] = 16
df.loc[df['HomeTeam']=='FC Koln','ranking_HT_ls'] = -1
df.loc[df['HomeTeam']=='Paderborn','ranking_HT_ls'] = -2

In [18]:
df.loc[df['AwayTeam']=='Bayern Munich','ranking_AT_ls'] = 1
df.loc[df['AwayTeam']=='Dortmund','ranking_AT_ls'] = 2
df.loc[df['AwayTeam']=="Schalke 04",'ranking_AT_ls'] = 3
df.loc[df['AwayTeam']=='Leverkusen','ranking_AT_ls'] = 4
df.loc[df['AwayTeam']=='Wolfsburg','ranking_AT_ls'] = 5
df.loc[df['AwayTeam']=="M'gladbach",'ranking_AT_ls'] = 6
df.loc[df['AwayTeam']=='Mainz','ranking_AT_ls'] = 7
df.loc[df['AwayTeam']=='Augsburg','ranking_AT_ls'] = 8
df.loc[df['AwayTeam']=='Hoffenheim','ranking_AT_ls'] = 9
df.loc[df['AwayTeam']=='Hannover','ranking_AT_ls'] = 10
df.loc[df['AwayTeam']=='Hertha','ranking_AT_ls'] = 11
df.loc[df['AwayTeam']=='Werder Bremen','ranking_AT_ls'] = 12
df.loc[df['AwayTeam']=='Ein Frankfurt','ranking_AT_ls'] = 13
df.loc[df['AwayTeam']=='Freiburg','ranking_AT_ls'] = 14
df.loc[df['AwayTeam']=='Stuttgart','ranking_AT_ls'] = 15
df.loc[df['AwayTeam']=='Hamburg','ranking_AT_ls'] = 16
df.loc[df['AwayTeam']=='FC Koln','ranking_AT_ls'] = -1
df.loc[df['AwayTeam']=='Paderborn','ranking_AT_ls'] = -2

In [19]:
df.head(9)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,FTR,HS,AS,...,Hdeep,Adeep,Hppda_coef,Appda_coef,AVGH,AVGD,AVGA,season,ranking_HT_ls,ranking_AT_ls
0,2014-08-22,Bayern Munich,Wolfsburg,2,1,1,0,H,17,9,...,5,4,9.625000,21.850000,1.26,6.37,11.50,2014/2015,1,5
1,2014-08-23,Dortmund,Leverkusen,0,2,0,1,A,11,11,...,2,5,3.333333,5.800000,1.62,4.23,5.39,2014/2015,2,4
2,2014-08-23,Ein Frankfurt,Freiburg,1,0,1,0,H,10,13,...,3,13,10.517241,3.465116,2.06,3.46,3.76,2014/2015,13,14
3,2014-08-23,FC Koln,Hamburg,0,0,0,0,D,10,19,...,4,2,13.080000,7.068966,2.04,3.59,3.67,2014/2015,-1,16
4,2014-08-23,Hannover,Schalke 04,2,1,0,0,H,8,12,...,4,3,9.642857,6.055556,3.11,3.44,2.34,2014/2015,10,3
5,2014-08-23,Hertha,Werder Bremen,2,2,1,0,D,19,9,...,3,5,5.685714,9.869565,1.97,3.54,3.95,2014/2015,11,12
6,2014-08-23,Hoffenheim,Augsburg,2,0,2,0,H,10,12,...,6,2,6.588235,5.739130,1.96,3.67,3.84,2014/2015,9,8
7,2014-08-24,M'gladbach,Stuttgart,1,1,0,0,D,19,7,...,7,3,14.105263,14.500000,1.95,3.58,3.99,2014/2015,6,15
8,2014-08-24,Paderborn,Mainz,2,2,1,1,D,10,14,...,5,7,7.275000,8.150000,3.09,3.36,2.38,2014/2015,-2,7

In [20]:
df.columns

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'HTHG', 'HTAG', 'FTR',
       'HS', 'AS', 'HST', 'AST', 'HC', 'AC', 'HF', 'AF', 'league', 'HxG',
       'AxG', 'Hdeep', 'Adeep', 'Hppda_coef', 'Appda_coef', 'AVGH', 'AVGD',
       'AVGA', 'season', 'ranking_HT_ls', 'ranking_AT_ls'],
      dtype='object')

In [21]:
df.to_csv('bundesliga-1415.csv', index=False)