In [1]:
import numpy as np
import pandas as pd

In [2]:
s1819 = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction-using-ml-techniques\data\Premier League\Season 2018-2019.csv')

understats = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction-using-ml-techniques\data\understat_per_game.csv')

In [3]:
s1819 = s1819[['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG','HTHG','HTAG', 'FTR',
              'HS', 'AS', 'HST','AST','HC','AC', 'HF', 'AF', 'B365H', 'B365A', 'B365D',
               'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA']].reset_index(drop=True)

In [4]:
s1819.shape

(380, 28)

In [5]:
s1819.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,FTR,HS,AS,...,B365D,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA
0,10/08/2018,Man United,Leicester,2,1,1,0,H,8,13,...,3.9,1.58,3.93,7.50,1.57,3.8,6.00,1.57,4.0,7.00
1,11/08/2018,Bournemouth,Cardiff,2,0,1,0,H,12,10,...,3.6,1.89,3.63,4.58,1.91,3.5,4.00,1.87,3.6,4.75
2,11/08/2018,Fulham,Crystal Palace,0,2,0,1,A,15,10,...,3.4,2.50,3.46,3.00,2.45,3.3,2.80,2.50,3.4,3.00
3,11/08/2018,Huddersfield,Chelsea,0,3,0,2,A,6,13,...,4.0,6.41,4.02,1.62,5.80,3.9,1.57,6.50,4.0,1.62
4,11/08/2018,Newcastle,Tottenham,1,2,1,2,A,15,15,...,3.5,3.83,3.57,2.08,3.80,3.2,2.05,3.90,3.4,2.10

In [7]:
s1819['Date'] = pd.to_datetime(s1819['Date'],format="%d/%m/%Y")

In [8]:
understats['Date'] = pd.to_datetime(understats['date']).dt.strftime("%Y-%m-%d")
understats['Date'] = pd.to_datetime(understats['Date'])

In [9]:
understats =understats.replace({'team':{'Aston Villa':'Aston Villa',
       'Everton':'Everton', 'Southampton':'Southampton', 'Leicester':'Leicester', 'West Bromwich Albion':'West Brom',
       'Sunderland':'Sunderland', 'Crystal Palace':'Crystal Palace', 'Chelsea':'Chelsea', 'West Ham':'West Ham', 'Tottenham':'Tottenham',
       'Arsenal':'Arsenal', 'Swansea':'Swansea', 'Stoke':'Stoke', 'Newcastle United':'Newcastle', 'Liverpool':'Liverpool',
       'Manchester City':'Man City', 'Manchester United':'Man United', 'Hull':'Hull', 'Burnley':'Burnley',
       'Queens Park Rangers':'QPR', 'Bournemouth':'Bournemouth', 'Norwich':'Norwich', 'Watford':'Watford',
       'Middlesbrough':'Middlesbrough', 'Huddersfield':'Huddersfield', 'Brighton':'Brighton', 'Cardiff':'Cardiff', 'Fulham':'Fulham',
       'Wolverhampton Wanderers':'Wolves'}})

In [10]:
df = pd.merge(s1819,understats, how='left',left_on=['Date','HomeTeam'],right_on=['Date','team'])

In [11]:
df.isnull().sum()

Date            0
HomeTeam        0
AwayTeam        0
FTHG            0
FTAG            0
HTHG            0
HTAG            0
FTR             0
HS              0
AS              0
HST             0
AST             0
HC              0
AC              0
HF              0
AF              0
B365H           0
B365A           0
B365D           0
PSH             0
PSD             0
PSA             0
WHH             0
WHD             0
WHA             0
VCH             0
VCD             0
VCA             0
league          1
year            1
h_a             1
xG              1
xGA             1
npxG            1
npxGA           1
deep            1
deep_allowed    1
scored          1
missed          1
xpts            1
result          1
date            1
wins            1
draws           1
loses           1
pts             1
npxGD           1
ppda_coef       1
ppda_att        1
ppda_def        1
oppda_coef      1
oppda_att       1
oppda_def       1
team            1
xG_diff         1
xGA_diff        1
xpts_diff       1
dtype: int64

In [12]:
df.rename(columns = {'xG':"HxG", 'xGA':'AxG','deep':'Hdeep','deep_allowed':'Adeep',
                     'ppda_coef':'Hppda_coef','oppda_coef':'Appda_coef'},inplace=True)

df = df.drop(['npxG','npxGA','scored', 'missed', 'xpts', 'result', 'wins',
              'draws', 'loses', 'pts', 'npxGD', 'ppda_att', 'ppda_def',
              'oppda_att', 'oppda_def', 'team', 'xG_diff', 'xGA_diff',
              'xpts_diff', 'date', 'year','h_a'],axis=1)

In [13]:
# Calculating the average of betting sites odd for each result
avgH = round((df['B365H'] + df['PSH'] + df['WHH'] + df['VCH'])/4,2)
avgD = round((df['B365D'] + df['PSD'] + df['WHD'] + df['VCD'])/4,2)
avgA = round((df['B365A'] + df['PSA'] + df['WHA'] + df['VCA'])/4,2)

df['AVGH'] = avgH
df['AVGD'] = avgD
df['AVGA'] = avgA

#drop the existing columns with betting odds
df = df.drop(['PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 
              'VCD', 'VCA', 'B365H', 'B365D', 'B365A'],axis=1)

In [14]:
df['season'] = '2018/2019'

In [17]:
df[df['HxG'].isnull()]

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,FTR,HS,AS,...,HxG,AxG,Hdeep,Adeep,Hppda_coef,Appda_coef,AVGH,AVGD,AVGA,season
26,2018-08-26,Fulham,Burnley,4,2,3,2,H,25,12,...,NaN,NaN,NaN,NaN,NaN,NaN,1.99,3.38,4.24,2018/2019

In [19]:
index = df[df['HxG'].isnull()].index

In [20]:
#We are going to fill the missing values manually using the site understats.com
#Fulham - Burnley
df.loc[index[0],'HxG'] = 1.92
df.loc[index[0],'AxG'] = 1.57
df.loc[index[0],'Hdeep'] = 10
df.loc[index[0],'Adeep'] = 5
df.loc[index[0],'Hppda_coef'] = 11.71
df.loc[index[0],'Appda_coef'] = 18.58

In [21]:
df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,FTR,HS,AS,...,HxG,AxG,Hdeep,Adeep,Hppda_coef,Appda_coef,AVGH,AVGD,AVGA,season
0,2018-08-10,Man United,Leicester,2,1,1,0,H,8,13,...,1.513700,1.73813,3.0,10.0,15.833333,11.461538,1.57,3.91,7.00,2018/2019
1,2018-08-11,Bournemouth,Cardiff,2,0,1,0,H,12,10,...,2.600220,1.50693,12.0,5.0,5.631579,15.823529,1.89,3.58,4.46,2018/2019
2,2018-08-11,Fulham,Crystal Palace,0,2,0,1,A,15,10,...,0.638076,1.07816,3.0,8.0,4.534884,22.789474,2.49,3.39,2.95,2018/2019
3,2018-08-11,Huddersfield,Chelsea,0,3,0,2,A,6,13,...,0.396115,2.31427,2.0,4.0,11.545455,12.666667,6.30,3.98,1.61,2018/2019
4,2018-08-11,Newcastle,Tottenham,1,2,1,2,A,15,15,...,0.974497,2.58097,8.0,3.0,17.450000,5.657143,3.86,3.42,2.07,2018/2019

In [22]:
df.to_csv('epl-1819.csv', index=False)