In [29]:
import numpy as np
import pandas as pd

In [30]:
s1415 = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction-using-ml-techniques\data\La Liga\SP1-1415.csv')

understats = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction-using-ml-techniques\data\understat_per_game.csv')

In [31]:
s1415 = s1415[['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG','HTHG','HTAG', 'FTR',
              'HS', 'AS', 'HST','AST','HC','AC', 'HF', 'AF', 'B365H', 'B365A', 'B365D',
               'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA']].reset_index(drop=True)

In [32]:
s1415.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,FTR,HS,AS,...,B365D,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA
0,23/08/14,Almeria,Espanol,1,1,0,0,D,19,12,...,3.3,2.80,3.29,2.78,2.70,3.10,2.70,2.75,3.30,2.80
1,23/08/14,Granada,La Coruna,2,1,0,1,H,10,7,...,3.2,2.05,3.33,4.31,2.05,3.10,4.00,2.05,3.25,4.33
2,23/08/14,Malaga,Ath Bilbao,1,0,1,0,H,12,12,...,3.3,2.96,3.37,2.60,2.80,3.10,2.62,2.90,3.30,2.60
3,23/08/14,Sevilla,Valencia,1,1,1,0,D,10,11,...,3.5,2.05,3.62,3.90,2.10,3.25,3.60,2.05,3.50,3.80
4,24/08/14,Barcelona,Elche,3,0,1,0,H,12,3,...,9.0,1.10,13.15,29.70,1.10,10.00,21.00,1.06,11.00,36.00

In [33]:
s1415['Date'] = pd.to_datetime(s1415['Date'],format="%d/%m/%y")

In [34]:
understats['Date'] = pd.to_datetime(understats['date']).dt.strftime("%Y-%m-%d")
understats['Date'] = pd.to_datetime(understats['Date'])

In [36]:
s1415.HomeTeam.unique()

array(['Almeria', 'Granada', 'Malaga', 'Sevilla', 'Barcelona', 'Celta',
       'Eibar', 'Levante', 'Real Madrid', 'Vallecano', 'Getafe',
       'Valencia', 'Ath Bilbao', 'Ath Madrid', 'Cordoba', 'Espanol',
       'Elche', 'La Coruna', 'Sociedad', 'Villarreal'], dtype=object)

In [37]:
understats.team.unique()

array(['Bayern Munich', 'Hamburger SV', 'Bayer Leverkusen', 'Hoffenheim',
       'Augsburg', 'Hertha Berlin', 'Werder Bremen', 'Schalke 04',
       'Mainz 05', 'Hannover 96', 'Borussia Dortmund',
       'Borussia M.Gladbach', 'Wolfsburg', 'Eintracht Frankfurt',
       'VfB Stuttgart', 'FC Cologne', 'Freiburg', 'Paderborn',
       'Ingolstadt', 'Darmstadt', 'RasenBallsport Leipzig',
       'Fortuna Duesseldorf', 'Nuernberg', 'Union Berlin', 'Aston Villa',
       'Everton', 'Southampton', 'Leicester', 'West Bromwich Albion',
       'Sunderland', 'Crystal Palace', 'Chelsea', 'West Ham', 'Tottenham',
       'Arsenal', 'Swansea', 'Stoke', 'Newcastle United', 'Liverpool',
       'Manchester City', 'Manchester United', 'Hull', 'Burnley',
       'Queens Park Rangers', 'Bournemouth', 'Norwich', 'Watford',
       'Middlesbrough', 'Huddersfield', 'Brighton', 'Cardiff', 'Fulham',
       'Wolverhampton Wanderers', 'Sheffield United', 'Malaga', 'Sevilla',
       'Deportivo La Coruna', 'Real Sociedad', 'Espanyol', 'Getafe',
       'Atletico Madrid', 'Rayo Vallecano', 'Valencia', 'Athletic Club',
       'Barcelona', 'Real Madrid', 'Levante', 'Celta Vigo', 'Villarreal',
       'Granada', 'Eibar', 'Cordoba', 'Elche', 'Almeria', 'Las Palmas',
       'Sporting Gijon', 'Real Betis', 'Osasuna', 'Alaves', 'Leganes',
       'Girona', 'Real Valladolid', 'SD Huesca', 'Mallorca', 'Lille',
       'Paris Saint Germain', 'SC Bastia', 'Rennes', 'Marseille', 'Caen',
       'Montpellier', 'Nantes', 'Guingamp', 'Nice', 'Monaco', 'Toulouse',
       'Saint-Etienne', 'Bordeaux', 'Reims', 'Lyon', 'Lorient', 'Metz',
       'Evian Thonon Gaillard', 'Lens', 'Angers', 'Troyes', 'GFC Ajaccio',
       'Dijon', 'Nancy', 'Amiens', 'Strasbourg', 'Nimes', 'Brest',
       'Spartak Moscow', 'FC Ufa', 'CSKA Moscow', 'Rubin Kazan',
       'FC Rostov', 'FK Akhmat', 'Zenit St. Petersburg', 'Dinamo Moscow',
       'Mordovya', 'Lokomotiv Moscow', 'Amkar', 'FC Krasnodar',
       'Kuban Krasnodar', 'Ural', 'Arsenal Tula', 'Torpedo Moscow',
       'Anzhi Makhachkala', 'Krylya Sovetov Samara', 'FC Orenburg',
       'Tom Tomsk', 'Tosno', 'SKA-Khabarovsk', 'FC Yenisey Krasnoyarsk',
       'PFC Sochi', 'FC Tambov', 'Verona', 'Roma', 'Lazio', 'Juventus',
       'Udinese', 'Palermo', 'Genoa', 'Sampdoria', 'Sassuolo', 'Napoli',
       'Inter', 'Atalanta', 'Empoli', 'Chievo', 'Fiorentina', 'AC Milan',
       'Torino', 'Cagliari', 'Cesena', 'Parma', 'Bologna', 'Carpi',
       'Frosinone', 'Pescara', 'Crotone', 'SPAL 2013', 'Benevento',
       'Parma Calcio 1913', 'Brescia', 'Lecce'], dtype=object)

In [38]:
understats =understats.replace({'team':{'Malaga':'Malaga', 'Sevilla':'Sevilla',
       'Deportivo La Coruna':'La Coruna', 'Real Sociedad':'Sociedad', 'Espanyol':'Espanol', 'Getafe':'Getafe',
       'Atletico Madrid':'Ath Madrid', 'Rayo Vallecano':'Vallecano', 'Valencia':'Valencia', 'Athletic Club':'Ath Bilbao',
       'Barcelona':'Barcelona', 'Real Madrid':'Real Madrid', 'Levante':'Levante', 'Celta Vigo':'Celta', 'Villarreal':'Villarreal',
       'Granada':'Granada', 'Eibar':'Eibar', 'Cordoba':'Cordoba', 'Elche':'Elche', 'Almeria':'Almeria', 'Las Palmas':'Las Palmas',
       'Sporting Gijon':'Gijon', 'Real Betis':'Betis', 'Osasuna':'Osasuna', 'Alaves':'Alaves', 'Leganes':'Leganes',
       'Girona':'Girona', 'Real Valladolid':'Valladolid', 'SD Huesca':'Huesca', 'Mallorca':'Mallorca'}})

In [39]:
df = pd.merge(s1415,understats, how='left',left_on=['Date','HomeTeam'],right_on=['Date','team'])

In [40]:
df.isnull().sum()

Date            0
HomeTeam        0
AwayTeam        0
FTHG            0
FTAG            0
HTHG            0
HTAG            0
FTR             0
HS              0
AS              0
HST             0
AST             0
HC              0
AC              0
HF              0
AF              0
B365H           0
B365A           0
B365D           0
PSH             2
PSD             2
PSA             2
WHH             0
WHD             0
WHA             0
VCH             0
VCD             0
VCA             0
league          0
year            0
h_a             0
xG              0
xGA             0
npxG            0
npxGA           0
deep            0
deep_allowed    0
scored          0
missed          0
xpts            0
result          0
date            0
wins            0
draws           0
loses           0
pts             0
npxGD           0
ppda_coef       0
ppda_att        0
ppda_def        0
oppda_coef      0
oppda_att       0
oppda_def       0
team            0
xG_diff         0
xGA_diff        0
xpts_diff       0
dtype: int64

In [41]:
#We know that most of the times the books odds are almsot the same. So we are going to replace the null values with the
#average of the 3 other sites odds
index = df.loc[df['PSH'].isnull()].index
for row in index:
    df.at[row,'PSH'] = (df.loc[row,'B365H'] + df.loc[row,'WHH'] + df.loc[row,'VCH'])/3
    df.at[row,'PSD'] = (df.loc[row,'B365D'] + df.loc[row,'WHD'] + df.loc[row,'VCD'])/3
    df.at[row,'PSA'] = (df.loc[row,'B365A'] + df.loc[row,'WHA'] + df.loc[row,'VCA'])/3
    
df['PSH'] = df['PSH'].round(2)
df['PSA'] = df['PSA'].round(2)
df['PSD'] = df['PSD'].round(2)

In [42]:
# Calculating the average of betting sites odd for each result
avgH = round((df['B365H'] + df['PSH'] + df['WHH'] + df['VCH'])/4,2)
avgD = round((df['B365D'] + df['PSD'] + df['WHD'] + df['VCD'])/4,2)
avgA = round((df['B365A'] + df['PSA'] + df['WHA'] + df['VCA'])/4,2)

df['AVGH'] = avgH
df['AVGD'] = avgD
df['AVGA'] = avgA

#drop the existing columns with betting odds
df = df.drop(['PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 
              'VCD', 'VCA', 'B365H', 'B365D', 'B365A'],axis=1)

In [43]:
df['season'] = '2014/2015'

In [45]:
df.rename(columns = {'xG':"HxG", 'xGA':'AxG','deep':'Hdeep','deep_allowed':'Adeep',
                     'ppda_coef':'Hppda_coef','oppda_coef':'Appda_coef'},inplace=True)

df = df.drop(['npxG','npxGA','scored', 'missed', 'xpts', 'result', 'wins',
              'draws', 'loses', 'pts', 'npxGD', 'ppda_att', 'ppda_def',
              'oppda_att', 'oppda_def', 'team', 'xG_diff', 'xGA_diff',
              'xpts_diff', 'date', 'year','h_a'],axis=1)

In [46]:
df.isnull().sum()

Date          0
HomeTeam      0
AwayTeam      0
FTHG          0
FTAG          0
HTHG          0
HTAG          0
FTR           0
HS            0
AS            0
HST           0
AST           0
HC            0
AC            0
HF            0
AF            0
league        0
HxG           0
AxG           0
Hdeep         0
Adeep         0
Hppda_coef    0
Appda_coef    0
AVGH          0
AVGD          0
AVGA          0
season        0
dtype: int64

In [47]:
df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,FTR,HS,AS,...,HxG,AxG,Hdeep,Adeep,Hppda_coef,Appda_coef,AVGH,AVGD,AVGA,season
0,2014-08-23,Almeria,Espanol,1,1,0,0,D,19,12,...,0.978788,0.399306,5,4,6.666667,15.800000,2.70,3.25,2.74,2014/2015
1,2014-08-23,Granada,La Coruna,2,1,0,1,H,10,7,...,0.548351,0.379371,2,4,4.775000,5.800000,2.02,3.22,4.21,2014/2015
2,2014-08-23,Malaga,Ath Bilbao,1,0,1,0,H,12,12,...,1.321070,1.141510,4,5,12.071429,6.300000,2.86,3.27,2.57,2014/2015
3,2014-08-23,Sevilla,Valencia,1,1,1,0,D,10,11,...,1.171970,1.749030,8,4,9.416667,10.650000,2.06,3.47,3.70,2014/2015
4,2014-08-24,Barcelona,Elche,3,0,1,0,H,12,3,...,1.541240,0.108040,12,0,6.545455,18.392857,1.09,10.79,26.92,2014/2015

In [49]:
df.to_csv('laliga-1415.csv', index=False)