In [1]:
import numpy as np
import pandas as pd

In [2]:
s1516 = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction-using-ml-techniques\data\La Liga\SP1-1516.csv')

understats = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction-using-ml-techniques\data\understat_per_game.csv')

In [3]:
s1516 = s1516[['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG','HTHG','HTAG', 'FTR',
              'HS', 'AS', 'HST','AST','HC','AC', 'HF', 'AF', 'B365H', 'B365A', 'B365D',
               'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA']].reset_index(drop=True)

In [4]:
s1516.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,FTR,HS,AS,...,B365D,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA
0,21/08/15,Malaga,Sevilla,0,0,0,0,D,25,10,...,3.4,3.39,3.57,2.25,3.20,3.4,2.20,3.40,3.50,2.25
1,22/08/15,Ath Madrid,Las Palmas,1,0,1,0,H,14,8,...,6.5,1.23,6.78,16.86,1.22,5.5,15.00,1.22,6.50,19.00
2,22/08/15,Espanol,Getafe,1,0,1,0,H,4,14,...,3.4,1.93,3.47,4.68,1.91,3.3,4.33,1.91,3.50,4.60
3,22/08/15,La Coruna,Sociedad,0,0,0,0,D,15,9,...,3.2,2.59,3.23,3.08,2.62,3.0,2.90,2.55,3.30,3.00
4,22/08/15,Vallecano,Valencia,0,0,0,0,D,8,10,...,3.5,3.72,3.77,2.06,3.60,3.3,2.10,3.70,3.75,2.05

In [5]:
s1516['Date'] = pd.to_datetime(s1516['Date'],format="%d/%m/%y")

In [6]:
understats['Date'] = pd.to_datetime(understats['date']).dt.strftime("%Y-%m-%d")
understats['Date'] = pd.to_datetime(understats['Date'])

In [7]:
s1516.HomeTeam.unique()

array(['Malaga', 'Ath Madrid', 'Espanol', 'La Coruna', 'Vallecano',
       'Ath Bilbao', 'Betis', 'Levante', 'Sp Gijon', 'Granada',
       'Villarreal', 'Barcelona', 'Celta', 'Real Madrid', 'Sociedad',
       'Eibar', 'Getafe', 'Las Palmas', 'Sevilla', 'Valencia'],
      dtype=object)

In [8]:
understats =understats.replace({'team':{'Malaga':'Malaga', 'Sevilla':'Sevilla',
       'Deportivo La Coruna':'La Coruna', 'Real Sociedad':'Sociedad', 'Espanyol':'Espanol', 'Getafe':'Getafe',
       'Atletico Madrid':'Ath Madrid', 'Rayo Vallecano':'Vallecano', 'Valencia':'Valencia', 'Athletic Club':'Ath Bilbao',
       'Barcelona':'Barcelona', 'Real Madrid':'Real Madrid', 'Levante':'Levante', 'Celta Vigo':'Celta', 'Villarreal':'Villarreal',
       'Granada':'Granada', 'Eibar':'Eibar', 'Cordoba':'Cordoba', 'Elche':'Elche', 'Almeria':'Almeria', 'Las Palmas':'Las Palmas',
       'Sporting Gijon':'Sp Gijon', 'Real Betis':'Betis', 'Osasuna':'Osasuna', 'Alaves':'Alaves', 'Leganes':'Leganes',
       'Girona':'Girona', 'Real Valladolid':'Valladolid', 'SD Huesca':'Huesca', 'Mallorca':'Mallorca'}})

In [9]:
df = pd.merge(s1516,understats, how='left',left_on=['Date','HomeTeam'],right_on=['Date','team'])

In [12]:
df.rename(columns = {'xG':"HxG", 'xGA':'AxG','deep':'Hdeep','deep_allowed':'Adeep',
                     'ppda_coef':'Hppda_coef','oppda_coef':'Appda_coef'},inplace=True)

df = df.drop(['npxG','npxGA','scored', 'missed', 'xpts', 'result', 'wins',
              'draws', 'loses', 'pts', 'npxGD', 'ppda_att', 'ppda_def',
              'oppda_att', 'oppda_def', 'team', 'xG_diff', 'xGA_diff',
              'xpts_diff', 'date', 'year','h_a'],axis=1)

In [13]:
df.isnull().sum()

Date           0
HomeTeam       0
AwayTeam       0
FTHG           0
FTAG           0
HTHG           0
HTAG           0
FTR            0
HS             0
AS             0
HST            0
AST            0
HC             0
AC             0
HF             0
AF             0
B365H          0
B365A          0
B365D          0
PSH            1
PSD            1
PSA            1
WHH            0
WHD            0
WHA            0
VCH            0
VCD            0
VCA            0
league        52
HxG           52
AxG           52
Hdeep         52
Adeep         52
Hppda_coef    52
Appda_coef    52
dtype: int64

In [14]:
df[df['league'].isnull()]

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,FTR,HS,AS,...,VCH,VCD,VCA,league,HxG,AxG,Hdeep,Adeep,Hppda_coef,Appda_coef
4,2015-08-22,Vallecano,Valencia,0,0,0,0,D,8,10,...,3.70,3.75,2.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2015-08-23,Betis,Villarreal,1,1,0,1,D,22,8,...,3.00,3.25,2.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2015-08-23,Levante,Celta,1,2,0,1,A,11,15,...,3.75,3.40,2.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2015-08-29,Celta,Vallecano,3,0,1,0,H,11,3,...,1.57,4.50,6.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2015-08-29,Real Madrid,Betis,5,0,2,0,H,21,7,...,1.13,11.00,23.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2015-08-30,Getafe,Granada,1,2,0,2,A,16,9,...,2.05,3.30,4.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2015-08-30,Las Palmas,Levante,0,0,0,0,D,16,3,...,1.93,3.40,4.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2015-09-12,Betis,Sociedad,1,0,1,0,H,9,15,...,2.40,3.30,3.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2015-09-19,Sociedad,Espanol,2,3,1,1,A,10,18,...,1.95,3.50,4.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,2015-09-22,Granada,Sociedad,0,3,0,2,A,11,8,...,2.50,3.25,3.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,2015-09-23,Las Palmas,Sevilla,2,0,1,0,H,12,17,...,3.40,3.50,2.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,2015-09-23,Malaga,Villarreal,0,1,0,0,A,15,9,...,2.80,3.30,2.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,2015-09-24,Betis,La Coruna,1,2,0,0,A,9,8,...,2.20,3.40,3.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,2015-09-26,Eibar,Celta,1,1,1,0,D,10,9,...,4.00,3.40,2.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,2015-10-03,Las Palmas,Eibar,0,2,0,1,A,18,9,...,2.05,3.40,4.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,2015-10-03,Malaga,Sociedad,3,1,2,1,H,11,13,...,2.40,3.25,3.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,2015-10-17,Betis,Espanol,1,3,0,1,A,21,13,...,2.05,3.50,4.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,2015-10-17,Valencia,Malaga,3,0,2,0,H,6,10,...,1.62,4.10,6.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,2015-10-24,Malaga,La Coruna,2,0,0,0,H,9,10,...,2.30,3.40,3.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,2015-10-31,Sociedad,Celta,2,3,2,1,A,20,16,...,2.75,3.30,2.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,2015-11-07,Malaga,Betis,0,1,0,0,A,12,7,...,1.91,3.60,4.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,2015-11-21,La Coruna,Celta,2,0,1,0,H,5,6,...,3.30,3.60,2.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,2015-11-21,Valencia,Las Palmas,1,1,1,0,D,9,18,...,1.53,4.33,7.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,2015-11-28,Celta,Sp Gijon,2,1,1,0,H,6,9,...,1.40,5.20,8.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,2015-11-28,Las Palmas,La Coruna,0,2,0,1,A,8,10,...,2.38,3.30,3.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,2015-12-05,Betis,Celta,1,1,0,1,D,27,5,...,3.40,3.70,2.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,2015-12-05,La Coruna,Sevilla,1,1,1,0,D,8,8,...,3.00,3.60,2.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,2015-12-12,Las Palmas,Betis,1,0,0,0,H,16,8,...,2.10,3.50,3.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,2015-12-19,La Coruna,Eibar,2,0,1,0,H,13,13,...,2.05,3.40,4.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,2015-12-30,Las Palmas,Granada,4,1,1,0,H,7,11,...,2.10,3.40,3.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,2016-01-02,Malaga,Celta,2,0,2,0,H,14,8,...,2.38,3.40,3.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,2016-01-09,Levante,Vallecano,2,1,0,0,H,10,10,...,2.20,3.50,3.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,2016-01-16,Sociedad,La Coruna,1,1,0,1,D,16,7,...,1.95,3.50,4.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,2016-01-23,Vallecano,Celta,3,0,3,0,H,26,3,...,2.70,3.60,2.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,2016-01-30,Sociedad,Betis,2,1,2,0,H,11,8,...,1.70,3.90,5.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,2016-02-06,Sp Gijon,La Coruna,1,1,1,1,D,11,5,...,2.63,3.30,2.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,2016-02-13,La Coruna,Betis,2,2,1,2,D,25,4,...,1.80,3.60,5.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,2016-02-20,Celta,Eibar,3,2,2,0,H,14,7,...,1.95,3.70,4.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,2016-02-27,Sociedad,Malaga,1,1,0,0,D,11,8,...,2.25,3.30,3.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,2016-03-01,Ath Madrid,Sociedad,3,0,1,0,H,12,7,...,1.44,4.33,9.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,2016-03-01,Las Palmas,Getafe,4,0,2,0,H,11,10,...,2.05,3.50,3.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,2016-03-02,Levante,Real Madrid,1,3,1,2,A,11,21,...,6.50,4.80,1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,2016-03-03,Vallecano,Barcelona,1,5,0,2,A,8,20,...,13.00,8.00,1.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2016-03-05,La Coruna,Malaga,3,3,1,1,D,14,5,...,2.63,3.30,2.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284,2016-03-12,Vallecano,Eibar,1,1,1,1,D,12,7,...,2.20,3.70,3.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,2016-03-19,Betis,Malaga,0,1,0,0,A,16,13,...,2.63,3.30,2.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,2016-04-02,Celta,La Coruna,1,1,1,1,D,9,7,...,1.75,3.90,4.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,2016-04-09,Betis,Levante,1,0,0,0,H,7,12,...,2.10,3.50,3.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
321,2016-04-16,Celta,Betis,1,1,0,1,D,18,9,...,1.57,4.40,6.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335,2016-04-20,Real Madrid,Villarreal,3,0,1,0,H,20,5,...,1.20,8.00,13.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
343,2016-04-23,Eibar,La Coruna,1,1,1,0,D,9,9,...,2.20,3.40,3.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,2016-04-30,Granada,Las Palmas,3,2,2,2,H,14,12,...,1.62,4.10,6.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
index = df[df['HxG'].isnull()].index

In [17]:
index

Int64Index([  4,   6,   7,  12,  13,  16,  17,  22,  33,  42,  45,  47,  49,
             52,  63,  64,  71,  74,  83,  93, 104, 111, 114, 123, 124, 130,
            132, 143, 152, 163, 171, 181, 191, 203, 212, 222, 230, 242, 254,
            260, 261, 264, 269, 271, 284, 291, 303, 311, 321, 335, 343, 353],
           dtype='int64')

In [ ]:
#We are going to fill the missing values manually using the site understats.com
#Vallecano - Valencia
df.loc[index[0],'HxG'] = 0.69
df.loc[index[0],'AxG'] = 2.20
df.loc[index[0],'Hdeep'] = 1
df.loc[index[0],'Adeep'] = 4
df.loc[index[0],'Hppda_coef'] = 5.96
df.loc[index[0],'Appda_coef'] = 14.33

df.loc[index[1],'HxG'] = 1.50
df.loc[index[1],'AxG'] = 1.63
df.loc[index[1],'Hdeep'] = 2
df.loc[index[1],'Adeep'] = 6

df.loc[index[2],'HxG'] = 0.48
df.loc[index[2],'AxG'] = 1.81
df.loc[index[2],'Hdeep'] = 1
df.loc[index[2],'Adeep'] = 17