In [1]:
import numpy as np
import pandas as pd

In [2]:
s1516 = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction-using-ml-techniques\data\Premier League\Season 2015-2016.csv')

understats = pd.read_csv(r'C:\Users\George\Desktop\football-match-prediction-using-ml-techniques\data\understat_per_game.csv')

In [3]:
s1516 = s1516[['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG','HTHG','HTAG', 'FTR',
              'HS', 'AS', 'HST','AST','HC','AC', 'HF', 'AF', 'B365H', 'B365A', 'B365D',
               'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA']].reset_index(drop=True)

In [4]:
s1516.head(10)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,FTR,HS,AS,...,B365D,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA
0,08/08/2015,Bournemouth,Aston Villa,0,1,0,0,A,11,7,...,3.6,1.95,3.65,4.27,1.91,3.5,4.00,2.00,3.50,4.20
1,08/08/2015,Chelsea,Swansea,2,2,2,1,D,11,18,...,5.0,1.39,4.92,10.39,1.40,4.0,10.00,1.40,5.00,9.50
2,08/08/2015,Everton,Watford,2,2,0,1,D,10,11,...,3.9,1.70,3.95,5.62,1.73,3.5,5.00,1.73,3.90,5.40
3,08/08/2015,Leicester,Sunderland,4,2,3,0,H,19,10,...,3.5,1.99,3.48,4.34,2.00,3.1,2.70,2.00,3.40,4.33
4,08/08/2015,Man United,Tottenham,1,0,1,0,H,9,9,...,4.0,1.65,4.09,5.90,1.62,3.6,6.00,1.67,4.00,5.75
5,08/08/2015,Norwich,Crystal Palace,1,3,0,1,A,17,11,...,3.3,2.52,3.35,3.08,2.60,3.1,2.88,2.60,3.25,3.00
6,09/08/2015,Arsenal,West Ham,0,2,0,1,A,22,8,...,6.0,1.31,5.75,12.00,1.30,5.0,11.00,1.30,5.75,12.00
7,09/08/2015,Newcastle,Southampton,2,2,1,1,D,9,15,...,3.3,2.88,3.33,2.69,2.70,3.1,2.70,2.88,3.25,2.70
8,09/08/2015,Stoke,Liverpool,0,1,0,0,A,7,8,...,3.4,3.48,3.46,2.25,3.30,3.1,2.30,3.40,3.40,2.30
9,10/08/2015,West Brom,Man City,0,3,0,2,A,9,19,...,4.0,5.75,3.98,1.68,5.50,3.5,1.70,5.50,4.00,1.70

In [5]:
s1516['Date'] = pd.to_datetime(s1516['Date'],format="%d/%m/%Y")

In [6]:
understats['Date'] = pd.to_datetime(understats['date']).dt.strftime("%Y-%m-%d")
understats['Date'] = pd.to_datetime(understats['Date'])

In [7]:
s1516['HomeTeam'].unique()

array(['Bournemouth', 'Chelsea', 'Everton', 'Leicester', 'Man United',
       'Norwich', 'Arsenal', 'Newcastle', 'Stoke', 'West Brom',
       'Aston Villa', 'Southampton', 'Sunderland', 'Swansea', 'Tottenham',
       'Watford', 'West Ham', 'Crystal Palace', 'Man City', 'Liverpool'],
      dtype=object)

In [8]:
understats =understats.replace({'team':{'Aston Villa':'Aston Villa',
       'Everton':'Everton', 'Southampton':'Southampton', 'Leicester':'Leicester', 'West Bromwich Albion':'West Brom',
       'Sunderland':'Sunderland', 'Crystal Palace':'Crystal Palace', 'Chelsea':'Chelsea', 'West Ham':'West Ham', 'Tottenham':'Tottenham',
       'Arsenal':'Arsenal', 'Swansea':'Swansea', 'Stoke':'Stoke', 'Newcastle United':'Newcastle', 'Liverpool':'Liverpool',
       'Manchester City':'Man City', 'Manchester United':'Man United', 'Hull':'Hull', 'Burnley':'Burnley',
       'Queens Park Rangers':'QPR', 'Bournemouth':'Bournemouth', 'Norwich':'Norwich', 'Watford':'Watford',
       'Middlesbrough':'Middlesbrough', 'Huddersfield':'Huddersfield', 'Brighton':'Brighton', 'Cardiff':'Cardiff', 'Fulham':'Fulham',
       'Wolverhampton Wanderers':'Wolves'}})

In [9]:
df = pd.merge(s1516,understats, how='left',left_on=['Date','HomeTeam'],right_on=['Date','team'])

In [10]:
df.isnull().sum()

Date             0
HomeTeam         0
AwayTeam         0
FTHG             0
FTAG             0
HTHG             0
HTAG             0
FTR              0
HS               0
AS               0
HST              0
AST              0
HC               0
AC               0
HF               0
AF               0
B365H            0
B365A            0
B365D            0
PSH              0
PSD              0
PSA              0
WHH              0
WHD              0
WHA              0
VCH              0
VCD              0
VCA              0
league          13
year            13
h_a             13
xG              13
xGA             13
npxG            13
npxGA           13
deep            13
deep_allowed    13
scored          13
missed          13
xpts            13
result          13
date            13
wins            13
draws           13
loses           13
pts             13
npxGD           13
ppda_coef       13
ppda_att        13
ppda_def        13
oppda_coef      13
oppda_att       13
oppda_def       13
team            13
xG_diff         13
xGA_diff        13
xpts_diff       13
dtype: int64

In [11]:
df.rename(columns = {'xG':"HxG", 'xGA':'AxG','deep':'Hdeep','deep_allowed':'Adeep',
                     'ppda_coef':'Hppda_coef','oppda_coef':'Appda_coef'},inplace=True)

df = df.drop(['npxG','npxGA','scored', 'missed', 'xpts', 'result', 'wins',
              'draws', 'loses', 'pts', 'npxGD', 'ppda_att', 'ppda_def',
              'oppda_att', 'oppda_def', 'team', 'xG_diff', 'xGA_diff',
              'xpts_diff', 'date', 'year','h_a'],axis=1)

In [12]:
# Calculating the average of betting sites odd for each result
avgH = round((df['B365H'] + df['PSH'] + df['WHH'] + df['VCH'])/4,2)
avgD = round((df['B365D'] + df['PSD'] + df['WHD'] + df['VCD'])/4,2)
avgA = round((df['B365A'] + df['PSA'] + df['WHA'] + df['VCA'])/4,2)

df['AVGH'] = avgH
df['AVGD'] = avgD
df['AVGA'] = avgA

#drop the existing columns with betting odds
df = df.drop(['PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 
              'VCD', 'VCA', 'B365H', 'B365D', 'B365A'],axis=1)

In [13]:
df['season'] = '2015/2016'

In [14]:
df[df['league'].isnull()]

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,FTR,HS,AS,...,HxG,AxG,Hdeep,Adeep,Hppda_coef,Appda_coef,AVGH,AVGD,AVGA,season
109,2015-11-02,Tottenham,Aston Villa,3,1,2,0,H,17,13,...,NaN,NaN,NaN,NaN,NaN,NaN,1.43,4.64,8.50,2015/2016
129,2015-11-23,Crystal Palace,Sunderland,0,1,0,0,A,19,12,...,NaN,NaN,NaN,NaN,NaN,NaN,1.57,3.98,6.94,2015/2016
149,2015-12-07,Everton,Crystal Palace,1,1,0,0,D,19,14,...,NaN,NaN,NaN,NaN,NaN,NaN,2.05,3.53,3.80,2015/2016
159,2015-12-14,Leicester,Chelsea,2,1,1,0,H,9,11,...,NaN,NaN,NaN,NaN,NaN,NaN,3.16,3.45,2.36,2015/2016
169,2015-12-21,Arsenal,Man City,2,1,2,0,H,8,20,...,NaN,NaN,NaN,NaN,NaN,NaN,2.40,3.47,3.06,2015/2016
204,2016-01-13,Liverpool,Arsenal,3,3,2,2,D,22,14,...,NaN,NaN,NaN,NaN,NaN,NaN,2.88,3.42,2.55,2015/2016
209,2016-01-13,Tottenham,Leicester,0,1,0,0,A,21,10,...,NaN,NaN,NaN,NaN,NaN,NaN,1.76,3.79,4.96,2015/2016
219,2016-01-18,Swansea,Watford,1,0,1,0,H,10,13,...,NaN,NaN,NaN,NaN,NaN,NaN,2.42,3.22,3.24,2015/2016
231,2016-02-02,Crystal Palace,Bournemouth,1,2,1,1,A,14,8,...,NaN,NaN,NaN,NaN,NaN,NaN,2.47,3.22,3.17,2015/2016
233,2016-02-02,Man United,Stoke,3,0,2,0,H,15,10,...,NaN,NaN,NaN,NaN,NaN,NaN,1.69,3.67,6.04,2015/2016
236,2016-02-02,West Brom,Swansea,1,1,0,0,D,17,18,...,NaN,NaN,NaN,NaN,NaN,NaN,2.66,3.04,3.06,2015/2016
274,2016-03-02,Liverpool,Man City,3,0,2,0,H,11,4,...,NaN,NaN,NaN,NaN,NaN,NaN,2.65,3.38,2.82,2015/2016
275,2016-03-02,Man United,Watford,1,0,0,0,H,14,13,...,NaN,NaN,NaN,NaN,NaN,NaN,1.67,3.76,6.05,2015/2016

In [15]:
index = df.loc[df['HxG'].isnull()].index

In [16]:
index

Int64Index([109, 129, 149, 159, 169, 204, 209, 219, 231, 233, 236, 274, 275], dtype='int64')

In [17]:
#We are going to fill the missing values manually using the site understats.com
#Tottenham - Aston Villa
df.loc[index[0],'HxG'] = 1.15
df.loc[index[0],'AxG'] = 0.33
df.loc[index[0],'Hdeep'] = 7
df.loc[index[0],'Adeep'] = 1
df.loc[index[0],'Hppda_coef'] = 5.96
df.loc[index[0],'Appda_coef'] = 14.33


#Crystal Palace - Sunderland
df.loc[index[1],'HxG'] = 0.7
df.loc[index[1],'AxG'] = 1.31
df.loc[index[1],'Hdeep'] = 4
df.loc[index[1],'Adeep'] = 8
df.loc[index[1],'Hppda_coef'] = 3.06
df.loc[index[1],'Appda_coef'] = 27.67

#Everton - Crystal Palace
df.loc[index[2],'HxG'] = 1.70
df.loc[index[2],'AxG'] = 1.19
df.loc[index[2],'Hdeep'] = 13
df.loc[index[2],'Adeep'] = 2
df.loc[index[2],'Hppda_coef'] = 7.70
df.loc[index[2],'Appda_coef'] = 8.83

#Leicester - Chelsea
df.loc[index[3],'HxG'] = 0.71
df.loc[index[3],'AxG'] = 2.27
df.loc[index[3],'Hdeep'] = 5
df.loc[index[3],'Adeep'] = 8
df.loc[index[3],'Hppda_coef'] = 7.14
df.loc[index[3],'Appda_coef'] = 4.17

#Arsenal - Man City
df.loc[index[4],'HxG'] = 1.50
df.loc[index[4],'AxG'] = 0.77
df.loc[index[4],'Hdeep'] = 5
df.loc[index[4],'Adeep'] = 10
df.loc[index[4],'Hppda_coef'] = 21.59
df.loc[index[4],'Appda_coef'] = 5.79

#Liverpool - Arsenal
df.loc[index[5],'HxG'] = 1.16
df.loc[index[5],'AxG'] = 2.23
df.loc[index[5],'Hdeep'] = 12
df.loc[index[5],'Adeep'] = 7
df.loc[index[5],'Hppda_coef'] = 8.64
df.loc[index[5],'Appda_coef'] = 12.15

#Tottenham - Leichester
df.loc[index[6],'HxG'] = 1.23
df.loc[index[6],'AxG'] = 0.59
df.loc[index[6],'Hdeep'] = 7
df.loc[index[6],'Adeep'] = 4
df.loc[index[6],'Hppda_coef'] = 4.88
df.loc[index[6],'Appda_coef'] = 10.09

#Swansea - Watford
df.loc[index[7],'HxG'] = 0.47
df.loc[index[7],'AxG'] = 0.53
df.loc[index[7],'Hdeep'] = 4
df.loc[index[7],'Adeep'] = 4
df.loc[index[7],'Hppda_coef'] = 9.20
df.loc[index[7],'Appda_coef'] = 8.87

#Crystal Palace - Bournemouth
df.loc[index[8],'HxG'] = 1.62
df.loc[index[8],'AxG'] = 1.17
df.loc[index[8],'Hdeep'] = 6
df.loc[index[8],'Adeep'] = 3
df.loc[index[8],'Hppda_coef'] = 7.12
df.loc[index[8],'Appda_coef'] = 11.38

#Man United - Stoke
df.loc[index[9],'HxG'] = 2.45
df.loc[index[9],'AxG'] = 0.35
df.loc[index[9],'Hdeep'] = 10
df.loc[index[9],'Adeep'] = 13
df.loc[index[9],'Hppda_coef'] = 12.21
df.loc[index[9],'Appda_coef'] = 13.25

#West Brom - Swansea
df.loc[index[10],'HxG'] = 2.31
df.loc[index[10],'AxG'] = 1.18
df.loc[index[10],'Hdeep'] = 7
df.loc[index[10],'Adeep'] = 3
df.loc[index[10],'Hppda_coef'] = 9.59
df.loc[index[10],'Appda_coef'] = 5.92

#Liverpool - Man City
df.loc[index[11],'HxG'] = 1.17
df.loc[index[11],'AxG'] = 0.18
df.loc[index[11],'Hdeep'] = 5
df.loc[index[11],'Adeep'] = 3
df.loc[index[11],'Hppda_coef'] = 5.83
df.loc[index[11],'Appda_coef'] = 7.68

#Man United - Watford
df.loc[index[12],'HxG'] = 0.79
df.loc[index[12],'AxG'] = 2.16
df.loc[index[12],'Hdeep'] = 6
df.loc[index[12],'Adeep'] = 2
df.loc[index[12],'Hppda_coef'] = 5.77
df.loc[index[12],'Appda_coef'] = 7.35

df['league'] = 'EPL'

In [18]:
df.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,FTR,HS,AS,...,HxG,AxG,Hdeep,Adeep,Hppda_coef,Appda_coef,AVGH,AVGD,AVGA,season
0,2015-08-08,Bournemouth,Aston Villa,0,1,0,0,A,11,7,...,0.876106,0.782253,11.0,2.0,6.900000,11.846154,1.96,3.56,4.12,2015/2016
1,2015-08-08,Chelsea,Swansea,2,2,2,1,D,11,18,...,0.643960,2.592030,10.0,5.0,10.363636,8.833333,1.39,4.73,10.22,2015/2016
2,2015-08-08,Everton,Watford,2,2,0,1,D,10,11,...,0.604226,0.557892,5.0,4.0,6.650000,17.157895,1.72,3.81,5.38,2015/2016
3,2015-08-08,Leicester,Sunderland,4,2,3,0,H,19,10,...,2.568030,1.459460,5.0,6.0,10.880000,9.555556,1.98,3.37,3.92,2015/2016
4,2015-08-08,Man United,Tottenham,1,0,1,0,H,9,9,...,0.627539,0.674600,4.0,10.0,13.826087,8.218750,1.65,3.92,5.91,2015/2016

In [19]:
df.to_csv('epl-1516.csv', index=False)